body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "logo header" "menu menu-bar" "menu main" "menu footer";
    height: 100vh;
    background-color: #f4f4f9;
}

.logo {
    grid-area: logo;
    background-color: #FFFFFF;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 120px;
}

header {
    grid-area: header;
    background-color: #00509E;
    color: white;
    padding: 1rem;
    text-align: center;
}

#navigation-menu {
    grid-area: menu;
    background-color: #00509E;
    padding: 1rem;
    color: white;
    text-align: center;
}

#navigation-menu ul {
    list-style: none;
    padding: 0;
}

#navigation-menu a {
    text-decoration: none;
    color: white;
    padding: 0.75rem;
    display: block;
    background-color: #003F7D;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.menu-bar {
    grid-area: menu-bar;
    background-color: #003F7D;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.menu-bar a {
    text-decoration: none;
    color: white;
    padding: 0.75rem 1rem;
    background-color: #00509E;
    border-radius: 5px;
    font-weight: bold;
}

.donate-btn {
    background-color: #FF4500;
}

main {
    grid-area: main;
    padding: 1rem;
}

#welcome-section {
    text-align: center;
    background-color: #00509E;
    /* Gold */
    color: white;
    /* Navy blue */
    padding: 40px 20px;
    border-bottom: 4px solid #002366;
    /* Navy blue border */
}

#welcome-section h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

#welcome-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#welcome-section .cta-button {
    background-color: #002366;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

#welcome-section .cta-button:hover {
    background-color: #FFFFFF;
    color: #002366;
    border: 2px solid #002366;
}

.matches-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
}

.match-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.match-item h3 {
    font-size: 22px;
    color: #133f91;
    margin-bottom: 10px;
}

.match-item p {
    margin: 5px 0;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #f4f4f9;
    color: #fff;
    border-radius: 5px;
    text-decoration: underline;
    font-weight: 600;
}

.read-more:hover {
    background-color: #fff;
}

.news-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.news-item {
    width: 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: scale(1.05);
}

.news-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.news-info {
    padding: 15px;
}

.news-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #004d9d;
}

.news-info p {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    background: #00509E;
}

.read-more:hover {
    text-decoration: underline;
}

.highlights-container {
    display: flex;
    object-fit: fill;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.highlight-item {
    max-width: 300px;
    max-height: 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.highlight-item video {
    width: 100%;
    max-height: 200px;
    max-width: 300px;
    border-bottom: 1px solid #ddd;
}

.highlight-item p {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 20px;
    padding: 0 10px;
}

.video-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.video-item video {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.video-item p {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.content-section .cta-button {
    background-color: #002366;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s;
    text-decoration: none;
}

.content-section .cta-button:hover {
    background-color: #FFFFFF;
    color: #002366;
    border: 2px solid #002366;
}

footer {
    grid-area: footer;
    background-color: #003F7D;
    color: white;
    text-align: center;
    padding: 1rem;
}

#footer a {
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.slideshow-container .slides {
    display: none;
}

.slides img {
    width: 10%;
    border-radius: 5px;
}

.slides.active {
    display: block;
}

.video-container {
    display: flex;
    gap: 20px;
    width: 100px;
    height: 100px;
}

.video-container video {
    width: 10%;
    height: 10%;
    border-radius: 20px;
}